.abrir-modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.animacion {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h5 {
  font-size: 30px;
  font-weight: 600;
}

.log-text {
  color: #3498db;
}

.gradient-custom {
  background: #3498db;
  background: linear-gradient(
    to right,
    rgba(52, 152, 219),
    rgba(118, 215, 196)
  );
  border: 0px;
  font-weight: 600;
}

.bg-image {
  background-image: url("https://images8.alphacoders.com/133/1335324.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-gradient-login {
  background: #3498db;
  background: linear-gradient(
    to right,
    rgba(52, 152, 219, 0.5),
    rgba(118, 215, 196, 0.5)
  );
}

.p-login {
  color: white;
  opacity: 0.5;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(255, 255, 255, 0.5);
}

.nav-item {
  color: white;
}

.navbar {
  background: linear-gradient(
      to right,
      rgba(27, 79, 114, 0.5),
      rgba(72, 201, 176, 0.5)
    ),
    url("https://images8.alphacoders.com/133/1335324.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-danger {
  background: #f44336;
  background: linear-gradient(to right, rgba(244, 67, 54), rgba(249, 168, 37));
  border: 0px;
  font-weight: 600;
}

.btn-update {
  background: #01579b;
  background: linear-gradient(to right, rgba(1, 87, 155), rgba(3, 169, 244));
  border: 0px;
  font-weight: 600;
}

.bg-dark-image {
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://i.pinimg.com/originals/45/ad/4c/45ad4c6ae569f608b4a713da2444e592.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.user-text {
  color: white;
}

.p-user {
  color: white;
  opacity: 0.75;
}

