.abrir-modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.animacion {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h5 {
  font-size: 30px;
  font-weight: 600;
}

.log-text {
  color: #3498db;
}

.gradient-custom {
  background: #3498db;
  background: linear-gradient(
    to right,
    rgba(52, 152, 219),
    rgba(118, 215, 196)
  );
  border: 0px;
  font-weight: 600;
}

.bg-image {
  background-image: url("https://images8.alphacoders.com/133/1335324.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-gradient-login {
  background: #3498db;
  background: linear-gradient(
    to right,
    rgba(52, 152, 219, 0.5),
    rgba(118, 215, 196, 0.5)
  );
}

.p-login {
  color: white;
  opacity: 0.5;
}

.navbar-brand {
  color: white;
}

.nav-link-p {
  color: white;
}

.nav-link-p:hover {
  color: rgb(255, 255, 255, 0.5);
}

.nav-item-p {
  color: white;
}

.navbar {
  background: linear-gradient(
      to right,
      rgba(27, 79, 114, 0.5),
      rgba(72, 201, 176, 0.5)
    ),
    url("https://images8.alphacoders.com/133/1335324.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-danger {
  background: #f44336;
  background: linear-gradient(to right, rgba(244, 67, 54), rgba(249, 168, 37));
  border: 0px;
  font-weight: 600;
}

.btn-update {
  background: #01579b;
  background: linear-gradient(to right, rgba(1, 87, 155), rgba(3, 169, 244));
  border: 0px;
  font-weight: 600;
}

.bg-dark-image {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/originals/45/ad/4c/45ad4c6ae569f608b4a713da2444e592.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.user-text {
  color: white;
}

.p-user {
  color: white;
  opacity: 0.75;
}

.card-p:hover,
.card-p:focus {
  transform: scale3d(1.06, 1.06, 1);
}

.card-p:focus::after {
  opacity: 1;
}

.container-card {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.container-card::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hotel-name {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.t-hotel {
  padding: 0.5rem 0.5rem;
}

.btn-filter {
  background: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  border: 2px solid #48c9b0;
  color: black;
  background-color: transparent;
  overflow: hidden;
}

.btn-filter::before,
.btn-filter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: #48c9b0;
  z-index: -1;
  transition: all 400ms ease-in;
}

.btn-filter:hover {
  color: white;
}

.btn-filter::before {
  opacity: 0.3;
}

.btn-filter::after {
  transition-delay: 0.3s;
}

.btn-filter:hover::before,
.btn-filter:hover::after {
  top: 0;
}

.btn-create {
  background: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  border: 2px solid #48c9b0;
  color: black;
  background-color: transparent;
  overflow: hidden;
}

.btn-create:hover {
  background-color: #48c9b0;
  color: white;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background: #48c9b0;
  border-color: none;
}

.bg-custom-selected {
  background-color: #48c9b0;
}

/***********************************************Form**************************************************/

.form__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.input__container {
  position: relative;
  margin: 20px;
}

.input__field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.input__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3 ease;
}

.input__highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #265073;
  transition: all 0.3s ease;
}

.input__field:focus + .input__label {
  top: -20px;
  font-size: 12px;
  color: #265073;
}

.input__field:focus + .input__label + .input__highlight {
  width: 100%;
}

.button__container {
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background-color: #3d3a4e;
  background-size: 400%;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(1, 87, 155, 1) 10.8%,
    rgba(3, 169, 244, 1) 94.3%
  );
  transition: all 0.475s;
}

/***********************************************Radio Inputs**************************************************/

.radio__inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio__inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio__inputs .radio input {
  display: none;
}

.radio__inputs .radio .radio__name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio__inputs .radio input:checked + .radio__name {
  background-color: #fff;
  font-weight: 600;
}
/***********************************************Card Packages**************************************************/

.card__tp {
  background-color: #265073;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  display: flex;
  width: 22rem;
  height: 25rem;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card__tp:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px;
}

.card__preview {
  height: 12rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card__preview img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.card__tp:hover .card__preview img {
  transform: scale(1.35);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.card__price {
  background-color: white;
  color: #265073;
  z-index: 1;
  position: absolute;
  bottom: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  left: 1.25rem;
  font-weight: bold;
}

.card__content {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  color: #9ad0c2;
}

.card__bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__hotel {
  margin-top: 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.card__flight {
  margin-top: 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
